image: golang:1.10

services:
  - redis:latest

variables:
  REDIS_ADDRESS: "redis:6379"

stages:
  - test

before_script:
  # create symlink to ${CI_PROJECT_DIR} in ${GOPATH} and cd there
  - mkdir -p ${GOPATH}/src/gitlab.com/${CI_PROJECT_NAMESPACE}
  - cd ${GOPATH}/src/gitlab.com/${CI_PROJECT_NAMESPACE}
  - ln -s ${CI_PROJECT_DIR}
  - cd ${CI_PROJECT_NAME}
  # install dependencies
  - apt-get update
  - apt-get install libcairo2-dev -y
  # install go dependencies
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - dep ensure
  # install linters
  - go get -v golang.org/x/tools/cmd/goimports
  - go get -v gopkg.in/alecthomas/gometalinter.v2
  - gometalinter.v2 --install

testing:
  stage: test
  script:
    - bash format_go.sh
    - go test -v -race $(go list ./... | grep -v /vendor/)
    - gometalinter.v2 --deadline 60m --concurrency=2 --vendor --exclude=^vendor\/ ./...
